.controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

mat-paginator {
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.mat-list-item {
  border-bottom: 1px solid #ccc;
}